NODE_ENV=development

PORT=8080

DATABASE_URL=postgresql://finch:password@localhost:5432/finch_db

RATE_LIMIT_INTERVAL_MINUTES=15
RATE_LIMIT_MAX_REQUESTS=100

JWT_SECRET=your-32-chars-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

OTP_EXPIRES_IN=15m

SMTP_HOST=email-server-hostname
SMTP_PORT=email-server-port
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

GOOGLE_CLIENT_ID=client-id
GOOGLE_CLIENT_SECRET=client-secret

CLOUDINARY_NAME=cloudinary-cloud-name
CLOUDINARY_API_KEY=cloudinary-api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret

ALLOWED_ORIGINS=http://localhost:3000

API_BASE_URL=http://localhost:8080
CLIENT_BASE_URL=http://localhost:3000

APP_NAME=finch